@model Aula05ClassesIdentificadas.ViewModels.OrderViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Cadastro de Pedido</h1>

    <div class="container">

        <form id="formOrder"
        method="post"
        asp-action="Create"
        asp-controller="Order">

            <div class="row">
                <div class="form-group">
                    <label asp-for="CustomerId">Cliente:</label>
                    <select asp-for="CustomerId">
                        @foreach (var c in Model.Customers)
                        {
                            <option value="@c.Id">@c.Name</option>
                        }
                    </select>
                </div>
            </div>
            <br />
            <table class="table table-striped table-bordered table-hover table-responsive">
                <thead class="table-dark">
                    <tr>
                        <th><i class="fa-solid fa-check"></i></th>
                        <th>Item</th>
                        <th>Quantidade</th>
                        <th>Val. Unitário</th>
                        <th>Valor Total</th>
                    </tr>
                </thead>
                <tbody>
                    @for(int i = 0; i < Model.SelectedItems!.Count; i++)
                    {
                        <tr>
                            <td>
                                <input type="checkbox"
                                       asp-for="@Model.SelectedItems[i].IsSelected" />
                            </td>
                            <td><input type="hidden"
                                 asp-for="@Model.SelectedItems[i].OrderItem.Product!.Id" />
                                <span>@Model.SelectedItems[i].OrderItem.Product!.ProductName</span>
                            </td>
                            <td>
                                <input type="number" asp-for="@Model.SelectedItems[i].OrderItem.Quantity"
                                step="1" />
                            </td>
                            <td>
                                <span>R$</span>
                                <input type="number" asp-for="@Model.SelectedItems[i].OrderItem.PurchasePrice"
                                step="0.01"/>
                            </td>
                            <td>
                                <span>@string.Format("{0:C}", Model.SelectedItems[i].OrderItem.Product!.CurrentPrice)</span>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <button id="btnOrder"
                    type="submit"
                    class="btn btn-primary"
                    value="Cadastrar">
                Cadastrar
            </button>

        </form>
    </div>
</div>
