@model Variaveis

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-Vindos!</h1>

    <p>
        O valor de <b>userCount</b> é : <i>@Model.userCount</i>

	</p>
 
    </p>
    O valor de <b>totalCount</b> é : <i>@Model.totalCount</i>
    </p>

    <p>
        O valor de <b>MinValue</b> é : <i>@Model.MinValue</i>

    </p>

    <p>
        O valor de <b>MaxValue</b> é : <i>@Model.MaxValue</i>

    </p>

    <p>
        O valor de <b>MinShortValue</b> é : <i>@Model.MinShortValue</i>

    </p>

    <p>
        O valor de <b>MaxShortValue</b> é : <i>@Model.MaxShortValue</i>

    </p>

    <p>
        O valor de <b>MinIntValue</b> é : <i>@Model.MinIntValue</i>

    </p>

    <p>
        O valor de <b>MaxIntValue</b> é : <i>@Model.MaxIntValue</i>

    </p>

    <p>
        O valor de <b>MinUIntValue</b> é : <i>@Model.MinUIntValue</i>

    </p>

    <p>
        O valor de <b>MaxUIntValue</b> é : <i>@Model.MaxUIntValue</i>

    </p>

    <p>
        O valor de <b>MinLongValue</b> é : <i>@Model.MinLongValue</i>

    </p>

    <p>
        O valor de <b>MaxLongValue</b> é : <i>@Model.MaxLongValue</i>

    </p>


    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
